In [402]:
import pandas as pd  
import numpy as np

In [403]:
df = pd.read_csv("D:\DataSets\Airbnb\Airbnb_Open_Data.csv")
df.head()

C:\Users\PC\AppData\Local\Temp\ipykernel_33952\706297213.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:\DataSets\Airbnb\Airbnb_Open_Data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [404]:
# to get the shape of the data set
df.shape

(102599, 26)

In [405]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [406]:
# to get the information of the data set
df.info(verbose =True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [407]:
# Drop columns that are not required for analysis 
columns_to_drop =[
    'id',
    'reviews per month',
    'license',
    'availability 365',
    'house_rules',
    'calculated host listings count',
    'review rate number'
    ]

columns_to_keep =[col for col in df.columns if col not in columns_to_drop]

In [408]:
print("Number of Columns to Keep =>",len(columns_to_keep))
print("Number of Columns to drop =>",len(columns_to_drop))

Number of Columns to Keep => 19
Number of Columns to drop => 7

# Dropping Columns

- 1nd method Dropping & Filtering Data

In [409]:
# Data = df[columns_to_keep]
# Data.shape

- 2nd method Dropping Columns

In [410]:
df.drop(columns=columns_to_drop,inplace=True)

In [411]:
df.shape

(102599, 19)

# Renaming the columns

In [412]:
# to get the information of the data set
df.columns

Index(['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review'],
      dtype='object')

- 1nd method to rename columns

In [413]:
#df.rename(columns={'NAME':'Name','host id':'HostID',},inplace=True)

- 2nd method to rename columns

In [414]:
new_columns = []
for i in df.columns: 
    new_columns.append(i.replace(" ","_").capitalize())

df.columns = new_columns
print(df.columns)

Index(['Name', 'Host_id', 'Host_identity_verified', 'Host_name',
       'Neighbourhood_group', 'Neighbourhood', 'Lat', 'Long', 'Country',
       'Country_code', 'Instant_bookable', 'Cancellation_policy', 'Room_type',
       'Construction_year', 'Price', 'Service_fee', 'Minimum_nights',
       'Number_of_reviews', 'Last_review'],
      dtype='object')

# Check Duplication values

In [415]:
# df.duplicated()
# df.duplicated().values_counts()
# df.duplicated().head()
# df.duplicated().tail()
#df.duplicated().sum()
# df.drop_duplicates(inplace=True)
# df=df.drop_duplicates()

In [416]:
# to get the information of the duplicates in the data set
print("Number of Duplicates in the Data Set =",df.duplicated().sum())

Number of Duplicates in the Data Set = 541

In [417]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

# Check Null Values

In [418]:
# to get the information of the missing values in the data set 
#df.isnull() ==> boolean values flase for not missing values and true for missing values
#df.isnull().sum() ==> number of missing values in each column
#df.isnull().sum().sum() ==> number of missing values in the data set
#df.isnull().any() ==> columns with missing values
#df.isnull().any(axis=1) ==> rows with missing values
#df.isnull().all() ==> columns with all missing values
#df.isnull().all(axis=1) ==> rows with all missing values
#df.dropna() ==> drop rows with missing values
#df.dropna(axis=1) ==> drop columns with missing values
#df.fillna() ==> fill missing values with a default value
#df.fillna(method='ffill') ==> fill missing values with the previous value
#df.fillna(method='bfill') ==> fill missing values with the next value
#df.fillna(df.mean()) ==> fill missing values with the mean of the column

In [419]:
df.isnull().sum()

Name                        250
Host_id                       0
Host_identity_verified      289
Host_name                   404
Neighbourhood_group          29
Neighbourhood                16
Lat                           8
Long                          8
Country                     532
Country_code                131
Instant_bookable            105
Cancellation_policy          76
Room_type                     0
Construction_year           214
Price                       247
Service_fee                 273
Minimum_nights              400
Number_of_reviews           183
Last_review               15832
dtype: int64

In [420]:
# missing_percentage = round((df.isnull().sum() / len(df)) * 100 ,2)  # Multiply by 100 once
# # missing_percentage = missing_percentage.sort_values(ascending=False)  # Uncomment if sorting is needed
# missing_percentage = missing_percentage.apply(lambda x: f"{x:.2f}%")
# print(missing_percentage)

In [421]:
# drop columns with more than 50% missing values 
df.drop(columns=['Last_review'],inplace=True)

In [422]:
# drop rows with missing values
df.dropna(inplace=True)

In [423]:
df.isnull().sum()

Name                      0
Host_id                   0
Host_identity_verified    0
Host_name                 0
Neighbourhood_group       0
Neighbourhood             0
Lat                       0
Long                      0
Country                   0
Country_code              0
Instant_bookable          0
Cancellation_policy       0
Room_type                 0
Construction_year         0
Price                     0
Service_fee               0
Minimum_nights            0
Number_of_reviews         0
dtype: int64

# Cleaning individual columns

In [424]:
# Cleaning Column 'Host_identity_verified' 
print(df['Host_identity_verified'].unique())
print(df['Host_identity_verified'].value_counts())
df['Host_identity_verified']=df['Host_identity_verified'].apply(lambda x : x .strip().capitalize())
df

['unconfirmed' 'verified']
Host_identity_verified
unconfirmed    49707
verified       49635
Name: count, dtype: int64

,Name,Host_id,Host_identity_verified,Host_name,Neighbourhood_group,Neighbourhood,Lat,Long,Country,Country_code,Instant_bookable,Cancellation_policy,Room_type,Construction_year,Price,Service_fee,Minimum_nights,Number_of_reviews
0,Clean & quiet apt home by the park,80014485718,Unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0
1,Skylit Midtown Castle,52335172823,Verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,Verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0
5,Large Cozy 1 BR Apartment In Midtown East,45498551794,Verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0
7,BlissArtsSpace!,90821839709,Unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2009.0,"$1,060",$212,45.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,Cozy room in a 2B with backyard access,5155155913,Unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,False,flexible,Private room,2018.0,$822,$164,1.0,9.0
102030,An East Williamsburg Delight,71564706996,Verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,True,moderate,Private room,2015.0,$455,$91,4.0,36.0
102031,Cozy bedroom in williamsburg,83101851929,Verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,True,flexible,Private room,2020.0,"$1,078",$216,1.0,58.0
102032,Spacious Room w/ 2 Bed,69037598918,Unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,False,moderate,Private room,2007.0,$103,$21,7.0,40.0
102040,"Room in Queens, NY, near LGA.",56457739998,Verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,True,strict,Private room,2022.0,$982,$196,1.0,239.0

In [425]:
# Add new column near to Instant_bookable column
df.insert(
    df.columns.get_loc('Instant_bookable') + 1,  # Position next to 'Instant_bookable'
    'Binary_Instant_bookable',  
    df['Instant_bookable'].apply(lambda x: 1 if x == True else 0)  # Convert to binary
)

In [426]:
df.head()

,Name,Host_id,Host_identity_verified,Host_name,Neighbourhood_group,Neighbourhood,Lat,Long,Country,Country_code,Instant_bookable,Binary_Instant_bookable,Cancellation_policy,Room_type,Construction_year,Price,Service_fee,Minimum_nights,Number_of_reviews
0,Clean & quiet apt home by the park,80014485718,Unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,0,strict,Private room,2020.0,$966,$193,10.0,9.0
1,Skylit Midtown Castle,52335172823,Verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,0,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,Verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,0,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0
5,Large Cozy 1 BR Apartment In Midtown East,45498551794,Verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,1,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0
7,BlissArtsSpace!,90821839709,Unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,0,moderate,Private room,2009.0,"$1,060",$212,45.0,49.0

# Reset Indcies of dataset

In [427]:
df.reset_index(inplace=True)

# check for some more Transformations .

In [428]:
# [ price column ]  is object type     ==> need to convert to int and  remove $ sign and remove sapces
df['Price'].dtype
df['Price']=df['Price'].str.replace('$','').str.replace(',','').astype(int)

In [429]:
# [service fee]  is object type     ==> need cleaning to float and  remove $ sign
print(df['Price'].head())

0     966
1     142
2     204
3     577
4    1060
Name: Price, dtype: int32

In [430]:
df['Service_fee']=df['Service_fee'].str.replace("$","").str.replace(",","").str.replace(" ","").astype(float)

In [431]:
print(df['Service_fee'].head())

0    193.0
1     28.0
2     41.0
3    115.0
4    212.0
Name: Service_fee, dtype: float64

# Saving Data after Cleaning

In [432]:
df.drop(columns=['index'],inplace=True) # drop index column

In [433]:
#Save the cleaned data to a new file without index column
#df.to_csv("cleaned_airbnb_data.csv", index=False)                      # as  csv file
df.to_excel("cleaned_airbnb_data.xlsx", index=False)                   # as  excel file

In [435]:
data=pd.read_excel("cleaned_airbnb_data.xlsx")
data.head()

,Name,Host_id,Host_identity_verified,Host_name,Neighbourhood_group,Neighbourhood,Lat,Long,Country,Country_code,Instant_bookable,Binary_Instant_bookable,Cancellation_policy,Room_type,Construction_year,Price,Service_fee,Minimum_nights,Number_of_reviews
0,Clean & quiet apt home by the park,80014485718,Unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,0,strict,Private room,2020,966,193,10,9
1,Skylit Midtown Castle,52335172823,Verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,0,moderate,Entire home/apt,2007,142,28,30,45
2,Entire Apt: Spacious Studio/Loft by central park,92037596077,Verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,0,moderate,Entire home/apt,2009,204,41,10,9
3,Large Cozy 1 BR Apartment In Midtown East,45498551794,Verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,1,flexible,Entire home/apt,2013,577,115,3,74
4,BlissArtsSpace!,90821839709,Unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,0,moderate,Private room,2009,1060,212,45,49